body {
    background-color: #f3f3f3;
    font-family: arial;
}

.job-container{
    width:900px;
    background-color: #ffff;
    padding: 30px;

}

.job {
    padding-bottom: 30px;
    width: 100%;

}

input {
    padding: 0px 20px;
    width: 300px;
    height: 40px;
    font-size: 22px;
}

button {
    width: 100px;
    height: 44px;
    font-size: 22px;
}

tr a {
    color: #000000; 
    text-decoration: none; 
}

tr a:hover {
    color: #333333; 
}


table {
    margin: 40px auto;
    width: 100%;
    border-collapse: collapse;
    max-width: 1000px; /* Ensures the table doesn’t grow too large */
   
}

table td {
    
    text-align: center; /* Centers text horizontally in each cell */
    vertical-align: middle; /* Centers text vertically in each cell */
    padding: 10px; /* Optional: adds some padding for better spacing */
}


body {
    background-color: #f3f3f3;
    font-family: arial;
    background-image: url('../images/2.png');

}

h1 {
    margin-left: 180px;
    margin-top: 85px;
}

.job-container{
    width: 680px;
    background-color: #e6e6e6;
    padding: 55px;
    margin-left: 150px;
    border-radius: 15px;
}

.job {
    padding-bottom: 30px;
    width: 100%;

}

input {
    padding: 0px 10px;
    width: 250px;
    height: 36px;
    font-size: 17px;
    border: 1px solid #b9b9b9;
    border-radius: 15px;
}

select {
    padding: 10px 10px;
    border: 1px solid #b9b9b9;
    border-radius: 15px;
}

button {
    width: 115px;
    height: 38px;
    font-size: 13px;
    color: #ffffff;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', sans-serif;
    border: 1px solid #ffffff;
    background: #ff0000;
    border-radius: 15px;
}